<!-- 미사용은 -1 -->
<config>
  <sell>
    <timer>09:00:15</timer>
  </sell>
  <buy>
    <timer>09:05</timer>
    <limit>30</limit>
    <rebuyTerm>15</rebuyTerm>
    <maxItemCount>10</maxItemCount>
  </buy>
  <realSearch>
    <buy>매수</buy>
    <sell>매도</sell>
  </realSearch>
  <etc>
    <checkTime>7:30,8:00,8:30,8:45</checkTime>
    <timeoutSec>30</timeoutSec>
    <testCode>047560</testCode>
    <mailCycle>10</mailCycle>
    <logWriteTime>10</logWriteTime>
  </etc>
  <log>
    <flushLimit>1000</flushLimit>
    <outputMaxLine>100</outputMaxLine>
    <showEmail>ERROR,PROCESS</showEmail>
    <showListbox>ERROR,PROCESS,INFO</showListbox>
    <showFile>ERROR,PROCESS,INFO,LOW,REAL</showFile>
    
  </log>
</config>
