<!-- 미사용은 -1 -->
<config>
  <sell>
    <timer>14:00</timer>
  </sell>
  <buy>
    <startTime>09:00</startTime>
    <endTime>12:00</endTime>
    <targetRate>10</targetRate>
    <limit>90</limit>
  </buy>
  <monitoring>
    <maxItemCount>10</maxItemCount>
    <cycle>10</cycle>
    <upCutlineRate>40</upCutlineRate>
    <downCutlineRate>20</downCutlineRate>
  </monitoring>
  <etc>
    <checkTime>7:30,8:00,8:30,8:45</checkTime>
    <timeoutSec>30</timeoutSec>
    <testCode>047560</testCode>
  </etc>
  <log>
    <flushLimit>1000</flushLimit>
    <outputMaxLine>100</outputMaxLine>
    <showEmail>ERROR,PROCESS</showEmail>
    <showListbox>ERROR,PROCESS,INFO</showListbox>
    <showFile>ERROR,PROCESS,INFO,LOW,REAL</showFile>
    
  </log>
</config>
