<!-- 미사용은 -1 -->
<config>
  <sell>
    <timer>09:01</timer>
  </sell>
  <buy>
    <timer>09:05</timer>
    <limit>50</limit>
  </buy>
  <monitoring>
    <maxItemCount>10</maxItemCount>
    <cycle>10</cycle>
    <upCutlineRate>40</upCutlineRate>
    <downCutlineRate>20</downCutlineRate>
  </monitoring>
  <etc>
    <checkTime>7:30,8:00,8:30,8:45</checkTime>
    <timeoutSec>30</timeoutSec>
    <testCode>047560</testCode>
  </etc>
  <log>
    <flushLimit>1000</flushLimit>
    <outputMaxLine>100</outputMaxLine>
    <showListbox>INFO,ERROR,PROCESS,LOW</showListbox>
    <showFile>INFO,ERROR,PROCESS,LOW</showFile>
    <showEmail>INFO,ERROR,PROCESS</showEmail>
  </log>
</config>
