<!-- 미사용은 -1 -->
<config>
  <sell>
    <timer>09:01</timer>
  </sell>
  <buy>
    <timer>09:10</timer>
    <limit>90</limit>
  </buy>
  <monitoring>
    <maxItemCount>5</maxItemCount>
    <cycle>5</cycle>
    <upCutlineRate>20</upCutlineRate>
    <downCutlineRate>10</downCutlineRate>
  </monitoring>
  <etc>
    <checkTime>7:30,8:00,8:30,8:45</checkTime>
    <timeoutSec>30</timeoutSec>
    <testCode>047560</testCode>
    <flushLimit>500</flushLimit>
  </etc>
</config>
