<!-- 미사용은 -1 -->
<config>
  <sell>
    <timer>09:01</timer>
  </sell>
  <buy>
    <timer>09:05</timer>
    <limit>90</limit>
    <rebuyTerm>30</rebuyTerm>
  </buy>
  <monitoring>
    <maxItemCount>10</maxItemCount>
    <cycle>10</cycle>
    <upCutlineRate>40</upCutlineRate>
    <downCutlineRate>30</downCutlineRate>
  </monitoring>
  <etc>
    <checkTime>7:30,8:00,8:30,8:45</checkTime>
    <timeoutSec>30</timeoutSec>
    <testCode>047560</testCode>
    <mailCycle>10</mailCycle>
    <logWriteTime>3</logWriteTime>
  </etc>
  <log>
    <flushLimit>1000</flushLimit>
    <outputMaxLine>100</outputMaxLine>
    <showEmail>ERROR,PROCESS</showEmail>
    <showListbox>ERROR,PROCESS,INFO</showListbox>
    <showFile>ERROR,PROCESS,INFO,LOW</showFile>
    
  </log>
</config>
